footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F8FA;
    padding: 30px 0;
}

footer p{
    color:var(--primaryColor);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.footer__text{
    color: var(--linksColor);
}